{% extends 'forumsite/base.html' %}

{% comment %} {% extends 'forumsite/base.html' %} 

{% block title %} {{post.title}} {% endblock %} 

{% block content %} 
<h1>{{post.title}}</h1>
<p class="date">Published {{post.publish}} by {{post.author}}</p>

{{ post.body |linebreaks }}
<p>
  <a href="{% url 'forum:post_share' post.id %}">Share this post</a>
</p>

{% with comments.count as total_comments  %}
  <h2>{{total_comments}} comment{{total_comments|pluralize}}</h2>
{% endwith %}
{% for comment  in comments %}
<div>

  <p>Comment {{forloop.counter}} by {{comment.name}} {{comment.created}}</p>
{{comment.body|linebreaks}}
</div>
{% empty %}
<p>There are no comments</p>
{% endfor %}
{% include "forumsite/post/includes/comment_form.html" %}
  
{% endblock %} {% endcomment %}



{% block title %} {{ post.title }} {% endblock title %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1>{{ post.title }}</h1>
      <p class="date">Published {{ post.publish }} by {{ post.author }}</p>
      <div class="mb-4">
        {{ post.body | linebreaks }}
      </div>
      <p>
        <a href="{% url 'forum:post_share' post.id %}" class="btn btn-primary">Share this post</a>
      </p>

      <h2>Similar posts</h2>
      
      {% for post in similar_posts  %}
      <p><a href="{{post.get_absolute_url}}">{{post.title}}</a></p>
        {% empty %}
        There are no similar posts yet.
      {% endfor %}
        

      <h2>{{ comments.count }} comment{{ comments.count|pluralize }}</h2>
      {% for comment in comments %}
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Comment {{ forloop.counter }} by {{ comment.name }} {{ comment.created }}</h5>
          <p class="card-text">{{ comment.body | linebreaks }}</p>
        </div>
      </div>
      {% empty %}
      <p>There are no comments</p>
      {% endfor %}
      {% include "forumsite/post/includes/comment_form.html" %}
    </div>
  </div>
</div>
{% endblock %}
